html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#container {
    margin: 0;
    padding: 0;
    border: 5px solid black;
    height: 400px;
    width: 400px; 
    display: flex;
    flex-flow: row wrap;
}
.paintedDivs {
    /* border: 1px dashed blue; */
    /* height: 100px;
    width: 100px; */
    padding: 0;
    margin: 0;
}
.paintedDivs:hover {
    background-color: yellow;
}

.appear {
    background-color: blue;
}