html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgb(235, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
}

#container {
    margin: 0;
    padding: 0;
    border: 5px solid black;
    height: 400px;
    width: 400px; 
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}
.paintedDivs {
    padding: 0;
    margin: 0;
}

#panel {
    display: flex;
    gap: 5px;
    align-items: center;
}

#management {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footer {
    margin-top: auto;
    margin-bottom: 10px;
}
